<header>
  <div class="header-title-container">
    <h1>
      <a href="{{ '/' | relative_url }}">{{ site.title | default: "Haky86" }}</a>
    </h1>
    <p>{{ site.description | default: "LineageOS Maintainer for multiple Android devices" }}</p>
  </div>

  <div class="theme-switcher-container" role="radiogroup" aria-label="Theme selection">
    <button class="theme-btn" id="themeDarkBtn" title="Dark Mode" aria-label="Dark Mode">🌝️</button>
    <button class="theme-btn" id="themeLightBtn" title="Light Mode" aria-label="Light Mode">🌞️</button>
    <button class="theme-btn" id="themeAutoBtn" title="Automated Detection" aria-label="Automated Detection">📱️</button>
  </div>
</header>
